{% extends "base.html" %}

{% block content %}

<section class="bg-[--neutral-color] min-h-screen flex items-center justify-center px-6">

  <div class="w-full max-w-md bg-[--secondary-color] border border-gray-800 rounded-2xl shadow-lg p-8">

    <!-- Heading -->
    <div class="text-center mb-6">
      <h1 class="text-2xl font-bold text-white">Welcome back</h1>
      <p class="text-[--muted-text] text-sm mt-1">
        Login to continue learning
      </p>
    </div>

    <!-- Form -->
    <form method="POST" class="space-y-5">
      {% csrf_token %}

      {% for field in form %}
        <div>
          <label class="block mb-2 text-sm text-gray-300">
            {{ field.label }}
          </label>

          {{ field }}

          {% for error in field.errors %}
            <p class="text-sm text-red-500 mt-1">{{ error }}</p>
          {% endfor %}
        </div>
      {% endfor %}

      <!-- Button -->
      <button type="submit"
        class="w-full bg-[--primary-color] text-black py-3 rounded-lg font-medium hover:opacity-90 transition">
        Login
      </button>

      <!-- Footer -->
      <p class="text-sm text-center text-[--muted-text]">
        Don’t have an account?
        <a href="{% url 'signup' %}" class="text-[--primary-color] hover:underline">
          Sign up
        </a>
      </p>

    </form>

  </div>

</section>

{% endblock %}